{% macro header() %}
<header >
    <nav class="flex items-center bg-white-300 py-16 px-16 text-2xl ">
      <div class="flex w-3/4">
        <div>
          <a class="text-black hover:text-black pr-16" href="#">Home</a>
        </div>
      <div>
          <a class="text-black hover:text-black pr-16" href="#">Shop</a>
        </div>
      <div>
          <a class="text-black hover:text-black pr-16" href="#">Artist Statement</a>
        </div>
      <div>
          <a class="text-black hover:text-black pr-16" href="/services">Services</a>
        </div>
      <div>
          <a class="text-black hover:text-black pr-16" href="#">Cart</a>
        </div>
      </div>
      
      <div class="flex w-1/4 justify-left">
      <div class="w-[130px] h-[130px] rounded-full bg-gray-200"></div>
      </div>
  </nav>
  
</header>



{% endmacro %}




