
{% macro header() %}
<header>
  <nav class="full-width">
    <div class="text-center py-2 font-spectral bg-[#F0E0CB]">
        <h1>CLICK HERE FOR NEWS AND UPCOMING EVENTS</h1>
      </div>
      
      
      <div x-data="{
        open: false
      }" class ="flex flex-row justify-between py-8 px-8">

        <div class="flex justify-left items-center bg-white-300  ">
          <svg @click="open = !open; console.log(open)" xmlns="http://www.w3.org/2000/svg" class="visible md:invisible h-7 w-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          
          <!-- <i class="fas fa-bars fa-2x visible md:invisible mr-10 md:mr-0 text-black cursor-pointer"></i> -->
          <ul class="hidden md:flex overflow-x-hidden mr-10 ">
            <li>
              {% for menu in config.extra.menu_items %}
                {% set link_url = menu.url | replace(from="$BASE_URL", to=config.base_url) %}
                {% set normal_class = "text-black font-title hover:text-black hover:underline underline-offset-4 mr-4 pr-4" %}
                {% set active_class = "text-black font-title font-semibold underline decoration-black underline-offset-4 mr-4 pr-4" %}
                <a {% if current_url and current_url is starting_with(link_url) %}
                  class="{{active_class}}"
                  {% else %}
                   class="{{ normal_class }}"
                  {% endif %} href="{{ link_url }}">{{ menu.name | upper }}</a>
              {% endfor %}
            </li>
          </ul>


        </div>

        <div class="justify-self-end ">
          {% set image = resize_image(path='content/Logo.png', width=90, height=90, op="fill") %}
        <img src="{{ image.url }}" class="w-12 md:w-20" />
        </div>

        <div x-show="open" class="absolute top-0 inset-x-0 w-screen  h-screen flex flex-col items-center bg-slate-50 gap-y-2">

          <div>Test</div>
          <div>Another </div>
 

        </div>

      </div>
 </nav>
</header>

{% endmacro %}