
{% macro header() %}
<header class="" x-data="{
  open: false
}" >
  <nav class="">
    <div class="w-full text-center py-2 font-spectral bg-[#F0E0CB] hover:underline hover:underline-offset-4">
      <a href="#Events"><h1>CLICK HERE FOR NEWS AND UPCOMING EVENTS</h1></a>
    </div>
      
      
    <div class ="container md:mx-auto flex flex-row justify-between items-center px-4 py-4 md:py-8">

        <div class="flex justify-left items-center bg-white-300  ">
          <svg @click="open = !open; console.log(open)" xmlns="http://www.w3.org/2000/svg" class="visivle md:invisible cursor-pointer h-10 w-10" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          
          <ul class="hidden md:flex overflow-x-hidden mr-10 ">
            <li>
              {% for menu in config.extra.menu_items %}
                {% set link_url = menu.url | replace(from="$BASE_URL", to=config.base_url) %}
                {% set normal_class = "text-black font-title hover:text-black hover:underline hover:underline-offset-4 mr-4 pr-4" %}
                {% set active_class = "text-black font-title underline decoration-black underline-offset-4 mr-4 pr-4" %}
                <a {% if current_url and current_url == link_url %}
                  class="{{active_class}}"
                  {% else %}
                   class="{{ normal_class }}"
                  {% endif %} href="{{ link_url }}">{{ menu.name | upper }}</a>
              {% endfor %}
            </li>
          </ul>
        </div>

        <!-- <div class="justify-self-end h-[80px]"> -->
          {% set image = resize_image(path='content/Logo.png', width=80, height=80, op="fill") %}
          <img src="{{ image.url }}" alt="Logo for header" class="w-12 md:w-20" />
        <!-- </div> -->

        

        <div x-cloak x-show="open" class="top-0 left-0 w-1/2 z-10  h-screen fixed drop-shadow-lg gap-y-2 bg-[#F0E0CB]">
          <div class="flex flex-col items-start text-lg">
            <hr>
            <div @click="open = false" class="cursor-pointer bg-[#F0E0CB]   hover:bg-white  hover:text-cutepink px-6 py-2 w-full font-title">X</div>
            <hr>
              <a href="{{config.base_url}}" class="hover:bg-white  hover:text-cutepink-800 py-2 px-6 w-full font-title">Home</a>
            <hr>
              <a href="{{config.base_url}}/shop/" class="hover:bg-white  hover:text-cutepink-800 py-2 px-6 w-full font-title">Shop</a>
            <hr>

              <a href="{{config.base_url}}/artiststatement/" class="hover:bg-white  hover:text-cutepink-800 py-2 px-6 w-full font-title">Artist Statement</a>

            <hr>

              <a href="{{config.base_url}}/services/" class="hover:bg-white  hover:text-cutepink-800 py-2 px-6 w-full font-title">Services</a>

            <hr>

              <a href="{{config.base_url}}/cart/" class="hover:bg-white  hover:text-cutepink-800 py-2 px-6 w-full font-title">Cart</a>
          </div>
        </div>
    </div>    
  </nav>
</header>

{% endmacro %}

<!-- or current_url == link_url  -->