{% extends "base.html" %}
{% block content %}
<section class="prose">
    <div class="container mx-auto w-screen">
        <h1 id="Logo" class="flex justify-end text-black text-5xl font-thin pr-28 pb-16">SHOPPING CART</h1>
        <section>
            <div class=" px-16 pb-16">
                <div class="grid grid-cols-3 gap-6 py-14 border-t-2 border-y-black">
                    <div class="pl-10">
                        <img src="https://via.placeholder.com/297x192" alt="Item 1">
                    </div>
                    <div class="flex flex-col">
                        <p class="text-xl">Item 1</p>
                        <p>8x10</p>
                    </div>
                    <div class="justify-self-center p-4">00.00</div>
                </div>
        
                <div class="grid grid-cols-3 gap-6 pb-14">
                    <div class="pl-10">
                        <img src="https://via.placeholder.com/297x192" alt="Item 2">
                    </div>
                    <div class="flex flex-col">
                        <p class="text-xl">Item 2</p>
                        <p>8x10</p>
                    </div>
                    <div class="justify-self-center p-4">00.00</div>
                </div>
        
                <div class="grid grid-cols-3 gap-6 justify-center pt-16 border-t-2 border-y-black">
                    <div class="pl-10 justify-self-center text-2xl">SUBTOTAL</div>
                    <div class="col-start-3 justify-self-center">00.00</div>
                </div>
            </div>             
        </section>
        
        <article id="Submit button">
            <div class="grid grid-cols-3 gap-6 pb-16">
                <button class=" col-start-2 justify-self-center text-2xl w-64 h-12 border border-black ">SUBMIT</button>
            </div>
        </article>
    </div>

</section>


{% endblock content %}