{% extends "base.html" %}
{% block content %}
<section class="prose">
    <div class="container mx-auto w-screen">
        <h1 class="flex justify-end text-black text-2xl md:text-3xl lg:text-5xl font-thin pr-28 pb-20 font-title">SHOPPING CART</h1>
        <section>
            <div class=" px-8 md:px-16 pb-8  md:pb-16">
                <div class="grid grid-cols-3 gap-4 md:gap-6 py-8 md:py-14 border-t-2 border-y-black">
                    <div class="pl-2 md:pl-10">
                        {% set image = resize_image(path='/shop/5pic.jpeg', width=297, height=192, op="scale") %}
                        <img src="{{ image.url }}" />
                    </div>
                    <div class="flex flex-col">
                        <p class="text-sm md:text-xl font-inria">Longmeadow vi</p>
                        <p class="text-sm md:text-base">8x10</p>
                    </div>
                    <div class="justify-self-center text-sm md:text-base p-4">$40.00</div>
                </div>
        
                <div class="grid grid-cols-3 gap-4 md:gap-6 pb-8 md:pb-14">
                    <div class="pl-2 md:pl-10">
                        {% set image = resize_image(path='/shop/2pic.jpeg', width=297, height=192, op="scale") %}
                        <img src="{{ image.url }}" />
                    </div>
                    <div class="flex flex-col">
                        <p class="text-sm md:text-xl font-inria">York i</p>
                        <p class="text-sm md:text-base">5x7</p>
                    </div>
                    <div class="justify-self-center text-sm md:text-base p-4">$90.00</div>
                </div>
        
                <div class="grid grid-cols-3 gap-6 justify-center pt-16 border-t-2 border-y-black">
                    <div class="pl-10 justify-self-center text-xl md:text-2xl font-spectral">SUBTOTAL</div>
                    <div class="col-start-3 justify-self-center">130.00</div>
                </div>
            </div>             
        </section>
        
        <article id="Submit button">
            <div class="pb-36 relative ">
                <button class="absolute inset-x-1/2 -ml-20 w-40 h-8 md:h-12 border hover:border-2 border-black text-sm bg-white align-bottom font-spectral z-10">SUBMIT</button>
                <button class="absolute inset-x-1/2 -ml-[76px] w-40  h-8 md:h-12 border border-black bg-[#E0C5C6] align-bottom font-spectral mt-2"></button>
    </a>
            </div>
        </article>
    </div>

</section>


{% endblock content %}