{% extends "base.html" %}
 {% block content %}
    <div class=" pr-5">
        <h1 class="text-[64px] text-right">
            CONTACT
          </h1>
    <div class="grid grid-cols-2 gap-[134px] text-[32px] text-left p-x-[122px] pt-[83px]">
        
        <div>
            <hr>
            First Name
        </div>
        <div>
            <hr>
            Last Name</div>

    </div>
    <div class="pt-[154px] text-[32px] text-left ">
        <hr>
        Email 
    </div>
    <div class="flex flex-row justify-center items-center py-10">
        <button class="bg-gray-200 text-black text-[32px] py-2 px-4 w-[300px] rounded-full">
          Request Type
        </button>
      </div>
      <div class="flex flex-col items-center">
        <div class="text-[32px] text-center">
          <h1>Message</h1>
        </div>
        <div>
            <img src="https://via.placeholder.com/948x296">
        </div>
      </div>


    </div>
    {% endblock content %}