{% extends "base.html" %}
{% block content %}


  <div class="container mx-auto w-screen">
    <section id="Collection">
      <h1 class="flex justify-end text-black text-2xl md:text-3xl lg:text-5xl font-thin pr-28 pb-20 font-title">NAT CASTAGNO</h1>
      <div class="grid sm:grid-cols-1 tablet:grid-cols-3 md:grid-cols-3 grid-rows-1 gap-10 px-10 py-16">
        <div>
          <a href="/shop/">
          {% set image = resize_image(path='/home/home1.jpg', width=516, height=320, op="scale") %}
          <img src="{{ image.url }}" loading="lazy" /></a>
          <a href="/shop/" class="hover:underline hover:underline-offset-4"><p class=" text-black sm:text-base md:text-xl text-center p-2 font-spectral">HARVEST COLLECTION</p></a>
        </div>
  
        <div>
          <a href="/shop/">
          {% set image = resize_image(path='/home/home2.jpg', width=516, height=320, op="scale") %}
          <img src="{{ image.url }}" loading="lazy" /></a>
          <a href="/shop/" class="hover:underline hover:underline-offset-4"><p class="text-black sm:text-base md:text-xl text-center p-2 font-spectral">LONGMEADOW COLLECTION</p></a>
        </div>
  
        <div>
          <a href="/shop/">
          {% set image = resize_image(path='/home/home3.jpg', width=516, height=320, op="scale") %}
          <img src="{{ image.url }}" loading="lazy" /></a>
          <a href="/shop/" class="hover:underline hover:underline-offset-4"><p class="text-black sm:text-base md:text-xl text-center p-2 font-spectral">AMHERST COLLECTION</p></a>
        </div>
      </div>
    </section>
  
    <article id="About" class="grid grid-cols-1 tablet:grid-cols-1 lg:grid-cols-2 grid-rows-1 tablet:gap-6 md:gap-16 items-center sm:p-16 md:p-32">
      <div class="justify-self-center">
        {% set image = resize_image(path='/home/home4.jpg', width=582, height=734, op="scale") %}
        <img src="{{ image.url }}" loading="lazy" class="h-96 w-80"/>
      </div>
  
      <div class="flex flex-col">
        <p class="text-2xl md:text-3xl lg:text-5xl py-2 font-spectral">About</p>
        <p class="py-2 font-inria">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        <a href="/artiststatement/" class="cursor-pointer hover:underline hover:underline-offset-4"><p class="py-2 font-inria">LINK TO ARTIST STATEMENT</p></a>
      </div>
    </article>
  
    <section id="Events">
      <div class="grid grid-rows-2 gap-10 py-6 md:py-12 px:16 md:px-32">
        <div class="p-6 border-b-2 border-black text-center text-2xl md:text-3xl font-spectral">Events</div>
        <div class="text-center font-inria"><span class="font-spectral italic">New Releases </span> - This is where you'll be able to keep up with new releases and special events! </div>
      </div>
  
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-rows-6 md:grid-rows-2 gap-14 justify-items-center sm:px-22 md:px-26 lg:px-44 sm:pb-8 lg:pb-16">
          {% set image = resize_image(path='/home/event1.jpeg', width=383, height=480, op="scale") %}
          <img src="{{ image.url }}" loading="lazy" class="w-64 h-80"/>

          {% set image = resize_image(path='/home/event2.jpeg', width=383, height=480, op="scale") %}
          <img src="{{ image.url }}" loading="lazy" class="w-64 h-80"/>

          {% set image = resize_image(path='/home/event3.jpg', width=383, height=480, op="scale") %}
          <img src="{{ image.url }}" loading="lazy" class="w-64 h-80"/>
          
          {% set image = resize_image(path='/home/event4.jpg', width=383, height=480, op="scale") %}
          <img src="{{ image.url }}" loading="lazy" class="w-64 h-80"/>

          {% set image = resize_image(path='/home/event5.jpg', width=383, height=480, op="scale") %}
          <img src="{{ image.url }}" loading="lazy" class="w-64 h-80"/>

          {% set image = resize_image(path='/home/event6.jpg', width=383, height=480, op="scale") %}
          <img src="{{ image.url }}" loading="lazy" class="w-64 h-80"/>
        </div>
  
        <div class="py-16">
        <div class="text-center pb-2">
          <span class="font-medium underline text-2xl md:text-3xl underline-offset-8 font-spectral">Paint Parties</span>
        </div>
  
        <div class=" grid grid-cols-1 md:grid-cols-3">
          <div class="md:col-start-2 text-center font-inria">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</div>
        </div>
       </div>
    </section>
  </div>
  
    <div class="relative full-width border-b-2 border-black">
      {% set image = resize_image(path='/home/fullimage.jpg', width=1900, height=800, op="fill") %}
          <img class="w-full h-[400px] object-cover" src="{{ image.url }}" loading="lazy"/>
      <!-- <div class="absolute bottom-10 mx-auto w-42 inset-x-0 text-center justify-center"> -->
        <!-- <div class="relative justify-center mx-auto w-42"> -->
          <a href="/contact/">
          <button class="absolute bottom-10 -ml-20 inset-x-1/2 w-40 h-8  border border-black hover:border-2  bg-white align-bottom font-spectral z-10">Contact</button>
          <button class="absolute bottom-8 -ml-[76px] inset-x-1/2 w-40 h-8 border border-black  bg-[#E0C5C6] align-bottom font-spectral z-2 "></button>
          </a>
      </div>


      </div>
    </div>




{% endblock content %}