{% extends "base.html" %}
 {% block content %}
<div class="">
  <div class="container mx-auto">
    <h1 class="text-4xl text-right pr-8">SERVICES</h1>
    <div class="grid grid-cols-5 text-black py-20 gap-x-12">
      <div class="col-span-2 flex flex-col">
        <div>
          <h1 class="text-3xl text-right">SERVICE</h1>
          <h1 class="text-3xl text-right">REQUEST</h1>
        </div>
        <div class="text-left text-2xl py-4">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
      <div class="col-span-3 flex flex-col justify-center items-center">
        {% set image = resize_image(path='/services/services_1.jpg', width=897, height=588, op="scale") %}
        <img src="{{ image.url }}" />
      </div>
    </div>

    <div class="flex flex-col items-center">
      <div class="text-3xl py-5 text-center">
        <h1>BOOK A CONSULTATION</h1>
      </div>
      <div>
        <h3 class="text-2xl text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </h3>
      </div>
    </div>
  </div>

  <div class="relative h-[912px] full-width bg-slate-300 mt-12">
    <div
      class="absolute mx-auto inset-x-0 bottom-4 rounded-full bg-gray-200 h-12 w-[300px] text-2xl text-center justify-center"
    >
      commission inquiry
    </div>
  </div>

  <div class="container mx-auto">
    <div class="grid grid-row justify-center">
      <div class="text-3xl py-20 text-center">
        <h1>CONSULTATION EXPERIENCE</h1>
      </div>
      <div>
        <h3 class="text-2xl text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fug.
        </h3>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-20 justify-center items-center py-10">
      <div>
        <img src="https://via.placeholder.com/657x392" />
      </div>
      <div>
        <h3 class="text-2xl text-center justify-right">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fug.
        </h3>
      </div>
      <div>
        <img src="https://via.placeholder.com/657x392" />
      </div>
      <div>
        <h3 class="text-2xl text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fug.
        </h3>
      </div>
      <div>
        <img src="https://via.placeholder.com/657x392" />
      </div>
      <div>
        <h3 class="text-2xl text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fug.
        </h3>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="text-3xl py-5 text-center">
        <h1>TESTIMONIALS</h1>
      </div>
      <hr />
    </div>
    <div class="flex flex-row justify-center py-10 items-center">
      <div class="flex flex-col justify-center items-center w-1/2">
        <div class="text-2xl py-5 text-center">
          <h1>CLIENT 1</h1>
        </div>
        <div class="px-20">
          <h3 class="text-2xl text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fug.
          </h3>
        </div>
        <div class="py-5">
          <img src="https://via.placeholder.com/538x285" />
        </div>
      </div>
      <div class="flex flex-col justify-center items-center w-1/2">
        <div class="text-2xl py-5 text-center">
          <h1>CLIENT 2</h1>
        </div>
        <div class="px-20">
          <h3 class="text-2xl text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fug.
          </h3>
        </div>
        <div class="py-5">
          <img src="https://via.placeholder.com/538x285" />
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-center items-center py-10">
      <button
        class="bg-gray-200 text-black text-2xl py-2 px-4 w-[300px] rounded-full"
      >
        commission inquiry
      </button>
    </div>
  </div>
</div>

{% endblock content %}
