<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        container:{
          screens: {
        sm: '600px',
        md: '728px',
        lg: '984px',
        xl: '1240px',
        '2xl': '1496px',
      },
        },
        extend: {
        },
      },
    };
  </script>
  <title>Services</title>
  <style>
    .name {

      font-style: semi-bold;
      font-weight: 300;
      font-size: 64px;
      line-height: 77px;
      text-align: right;
    }
  </style>
</head>

<body >
  <div class="header bg-[#E8E0D5] h-[58px] py-4 text-2xl text-center">
    <h1>News and upcoming events</h1>
  </div>
  <nav class="flex items-center bg-white-300 py-16 px-16 text-2xl ">
    <div class="flex w-3/4">
      <div>
        <a class="text-black hover:text-black pr-16" href="#">Home</a>
      </div>
    <div>
        <a class="text-black hover:text-black pr-16" href="#">Shop</a>
      </div>
    <div>
        <a class="text-black hover:text-black pr-16" href="#">Artist Statement</a>
      </div>
    <div>
        <a class="text-black hover:text-black pr-16" href="#">Services</a>
      </div>
    <div>
        <a class="text-black hover:text-black pr-16" href="#">Cart</a>
      </div>
    </div>
    
    <div class="flex w-1/4 justify-left">
    <div class="w-[130px] h-[130px] rounded-full bg-gray-200"></div>
    </div>
</nav>
  <main class="">
    <div class="container mx-auto">
      <h1 class="text-4xl text-right pr-8">
        SERVICES
      </h1>
      <div class="grid grid-cols-5 text-black bg-white py-20 gap-x-12">
        <div class="col-span-2 flex flex-col ">
          <div>
            <h1 class="text-3xl text-right">SERVICE</h1>
            <h1 class="text-3xl text-right">REQUEST</h1>
          </div>
          <div class="text-left text-2xl py-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.</p>
          </div>
        </div>
        <div class="col-span-3 flex flex-col justify-center items-center">
           <img src="https://via.placeholder.com/897x588">
        </div>
      </div>


      <div class="flex flex-col items-center">
        <div class="text-3xl py-5 text-center">
          <h1>BOOK A CONSULTATION</h1>
        </div>
        <div>
          <h3 class="text-2xl text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</h3>
        </div>
      </div>
    </div>




    <div class=" relative h-[912px] bg-slate-300 mt-12">
      <div class="absolute bottom-[150px] left-[1300px] rounded-full bg-gray-200 h-12 w-[300px] text-2xl text-center justify-center">
        commission inquiry
      </div>
    </div>

    <div class="container mx-auto">
      <div class="grid grid-row justify-center">
        <div class="text-3xl py-20 text-center">
          <h1>CONSULTATION EXPERIENCE</h1>
        </div>
        <div>
          <h3 class="text-2xl text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum
            dolore eu fug.</h3>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-20 justify-center items-center py-10">
        <div>
           <img src="https://via.placeholder.com/657x392">
        </div>
        <div>
          <h3 class="text-2xl text-center justify-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum
            dolore eu fug.</h3>
        </div>
        <div>
           <img src="https://via.placeholder.com/657x392">
        </div>
        <div>
          <h3 class="text-2xl text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum
            dolore eu fug.</h3>
        </div>
        <div>
           <img src="https://via.placeholder.com/657x392">
        </div>
        <div>
          <h3 class="text-2xl text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum
            dolore eu fug.</h3>
        </div>
      </div>
      <div class="flex flex-col">
        <div class="text-3xl py-5 text-center">
          <h1>TESTIMONIALS</h1>
        </div>
        <hr>
      </div>
      <div class="flex flex-row justify-center py-10  items-center">
        <div class="flex flex-col justify-center items-center w-1/2">
          <div class="text-2xl py-5 text-center">
            <h1>CLIENT 1</h1>
          </div>
          <div class="px-20">
            <h3 class="text-2xl text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fug.</h3>
          </div>
          <div class="py-5">
            <img src="https://via.placeholder.com/538x285">
          </div>
        </div>
        <div class="flex flex-col justify-center items-center w-1/2">
          <div class="text-2xl py-5 text-center">
            <h1>CLIENT 2</h1>
          </div>
          <div class="px-20">
            <h3 class="text-2xl text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fug.</h3>
          </div>
          <div class="py-5">
            <img src="https://via.placeholder.com/538x285">
          </div>
        </div>

      </div>

      <div class="flex flex-row justify-center items-center py-10">
        <button class="bg-gray-200 text-black text-2xl py-2 px-4 w-[300px] rounded-full">
          commission inquiry
        </button>
      </div>
    </div>

    <footer>  
      <div class="grid grid-cols-9 justify-end bg-[#D9D9D9] text-left pt-10 pb-20">
        <div class="justify-self-center col-span-3 w-24 h-24 border rounded-full bg-white"></div>
        <div class=" p-1 justify-self-end ">
        <a href="#"><p class="font-semibold">Home</p></a>
          <ul class="cursor-pointer">
          <li><a href="#">Events</a></li>
          </ul>
        </div>

        <div class="p-1 justify-self-end">
          <a href="#"><p class="font-semibold">Shop</p></a>
          <ul class="cursor-pointer">
          <li><a href="#">Collection 1</a></li>
          <li><a href="#">Collection 2</a></li>
          <li><a href="#">Collection 3</a></li>
          </ul>
        </div>

        <div class="p-1 col-span-2 justify-self-center">
          <a href="#"><p class="font-semibold">Artist Statement</p></a>
            <ul class="cursor-pointer">
            <li><a href="#">Collection Inspiration</a></li>
            </ul>
        </div>

        <div class="p-1">
          <a href="#"><p class="font-semibold">Services</p></a>
          <ul class="cursor-pointer">
          <li><a href="#">Request</a></li>
          <li><a href="#">Contact</a></li>
          </ul>
        </div>

        <div class="p-1">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>
        </div>
      </div> 
  </footer>
  </main>









</body>

</html>
